@model Category

<h1>Create Category</h1>
<form>
    <div class="mb-3">
        <label asp-for="Name" for="categoryName" class="form-label"></label>
        <input asp-for="Name" type="text" class="form-control" id="categoryName">
    </div>

    <div class="mb-3">
        <label asp-for="DisplayOrder" for="categoryName" class="form-label"></label>
        <input asp-for="DisplayOrder" type="text" class="form-control" id="categoryName">
    </div>

    <div class="row">
        <div class="col-6 col-md-3">
            <button type="submit" class="btn btn-primary form-control">Submit</button>
        </div>
        <div class="col-6 col-md-3">
            <a asp-controller="Category" asp-action="Index" class="btn btn-secondary form-control">Back</a>
        </div>
    </div>
</form>